DISCORD_TOKEN=MTUxMzQ4Njg5NDgyMTAxOTgwMA.GWp0D6.2Wkv6fndQ2T6xr7FUjCEFjsMhpafJW-7gbpvvo
DISCORD_CLIENT_ID=1513486894821019800
DISCORD_CLIENT_SECRET=hkPx-kjX_fJEGygfqAhAPE0yzPme177I
DISCORD_REDIRECT_URI=http://localhost:3000/auth/callback
SESSION_SECRET=anything-random-here
PORT=3000